.subnav-focus {
    height: 45px;
    top: -5px;
    right: -25px;
}

.club-grid-container {
    margin: 40px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
}

.club-card-template-parent {
    display: flex;
    flex-direction: column;
}

.club-card-template {
    height: 100%;
    max-width: 77%;
    outline: 2px solid #333;
    display: flex;
}

/* thumbnail img styling */
.img-wrapper {
    height: 229px;
    width: 470px;
}

.card-img-top {
    height: 229px;
    width: 333px;
    border-radius: 0;
}
  /* end img styling */

.club-card-content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.club-card-row1 {
    display: flex;
    justify-content: space-between;
}

.sub-checkbox + label::before{
    right: 0px;
    top: 0px;
}

/* change checkbox on checked */
.sub-checkbox:checked + label::before{
right: 0px;
top: 0px;
}

.added {
    outline: 3px solid #E5003C;
}

.club-arrow {
    margin-left: 10px;
}

.view-ex {
    margin-top: auto;
}

.club-subtext {
    max-width: 77%;
    margin-top: 25px;
} 

.club-subs {
    font-family: Larsseit-Light-italic;
    font-size: 14px;
}

.club-link {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
@media screen and (min-width: 601px) {
    .short-txt {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .subnav-focus {
        top: -14px;
        right: -28px;
    }
}

@media screen and (max-width: 925px) {
    .img-wrapper {
        height: 100%;
        width: auto;
        overflow: auto;
    }
    
    .card-img-top {
        height: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 900px) {
    .club-card-template {
        flex-direction: column;
        width: 75%;
    }

    .img-wrapper {
        width: 100%;
        height: auto;
    }
    
    .card-img-top {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    .club-card-template {
        width: 80%;
    }
}

@media screen and (max-width: 720px) {
    .subnav-focus {
        right: -35px;
    }
}

@media screen and (max-width: 600px) {
    .long-txt {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .club-card-template {
        margin: 0 auto;
    }
    .club-subtext {
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 412px) {
    .subnav-focus {
        height: 30px;
        top: -3px;
        left: -18px;
    }
}

@media screen and (max-width: 280px) {
    .subnav-focus {
        height: 25px;
        top: 0;
        left: -12px;
    }
}