.subnav-focus {
    height: 50px;
    top: -5px;
    right: -25px;
}

.comm-grid-container {
    margin: 40px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr;
}

.comm-card-template {
    height: 100%;
    max-width: 77%;
    outline: 2px solid #333;
    display: flex;
}

/* thumbnail img styling */
.img-wrapper {
    height: 229px;
    width: 470px;
}

.card-img-top {
    height: 229px;
    width: 333px;
    border-radius: 0;
}
  /* end img styling */

.comm-card-content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.comm-card-row1 {
    display: flex;
    justify-content: space-between;
}

.sub-checkbox + label::before{
    right: 0px;
    top: 0px;
}

/* change checkbox on checked */
.sub-checkbox:checked + label::before{
    right: 0px;
    top: 0px;
}

.added {
    outline: 3px solid #E5003C;
}

.comm-grid-container2 {
    max-width: 77%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.comm-card-template2 {
    height: 436px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* thumbnail img styling */
.img-wrapper2 {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-img-top2 {
    width: 100%;
    border-radius: 0;
}
  /* end img styling */

.club-arrow {
    margin-left: 10px;
}

.view-ex {
    margin-top: auto;
}

.view-ex2 {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
@media screen and (min-width: 601px) {
    .short-txt {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .img-wrapper {
        height: 100%;
        width: auto;
        overflow: auto;
    }
    
    .card-img-top {
        height: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 950px) {
    .subnav-focus {
        height: 45px;
        left: -30px;
    }
}

@media screen and (max-width: 900px) {
    .comm-card-template {
        flex-direction: column;
        width: 75%;
    }

    .img-wrapper {
        width: 100%;
        height: auto;
    }
    
    .card-img-top {
        width: 100%;
        height: auto;
    }

    .comm-grid-container2 {
        grid-template-columns: 1fr;
        max-width: 75%;
        row-gap: 50px;
    }
}

@media screen and (max-width: 720px) {
    .subnav-focus {
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .long-txt {
        display: none;
    }

    .subnav-focus {
        width: 130px;
        top: -7px;
        right: 0;
    }
}

@media screen and (max-width: 500px) {
    .comm-card-template {
        margin: 0 auto;
    }

    .comm-grid-container2 {
        margin: 0 auto;
    }
}

@media screen and (max-width: 395px) {
    .subnav-focus {
        width: 90px;
    }
}