/* ? DropUP menu styling */
.mm-bottom-nav {
cursor: default;
box-shadow: 0px -4px 10px #999;
border-radius: 0;
width: 100% !important;
}

.collapse-arrow {
width: 30px;
cursor: pointer;
}

.dropup-heading {
display: flex;
justify-content: space-between;
}

.mm-subtext {
font-size: 10px;
color: #333;
}

.mm-border-top {
border-top: 5px solid #E5003C;
box-shadow: none;
}

.bottom-vis {
display: grid;
grid-template-columns: 1fr 1fr;
}

.mm-dropup-left {
display: flex;
align-items: center;
}

.dropup-header {
font-family: Larsseit-Bold;
width: 320px;
font-size: 28px;
line-height: 36.96px;
}

.dropup-header2 {
font-family: Larsseit-Bold;
width: 350px;
font-size: 28px;
}

.mm-form-top {
display: flex;
align-items: center;
justify-self: end;
}

.mm-email-section {
display: flex;
flex-direction: column;
justify-content: center;
width: 360px;
margin-right: 50px;
}

.mm-button-dropup {
height: 38px;
width: 350px;
border: 1px solid #E5003C;
border-radius: 8px;
background-color: #E5003C;
color: #fff;
text-transform: uppercase;
font-size: 14px;
line-height: 17.5px;
letter-spacing: 2px;
padding: 8px;
align-self: flex-end;
align-self: center;
}

/* ! Grid Styling in dropup */
.top-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
/* border-bottom: 1px solid #333; */
grid-column-gap: 50px;
grid-row-gap: 20px;
}

.bottom-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-column-gap: 50px;
grid-row-gap: 20px;
}

input[type=text], input[type=email], input[type=number] {
border-style: none;
border-bottom: 1px solid #CCC;
height: 38px;
color: #E5003C;
font-size: 20px;
}

.mm-inputs {
display: flex;
flex-direction: column;
margin-top: 20px;
width: 100%;
}

::placeholder {
color: #333;
}

select {
border-style: none;
border-bottom: 1px solid #CCC;
height: 38px;
}

#mm-privacy + label {
margin-left: 10px;
font-size: 10px;
line-height: 12.5px;
width: 310px;
}

.form-end-container {
display: grid;
justify-content: end;
margin-bottom: 30px;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
/* ! XL SCREENS */ 
@media screen and (max-width: 1400px) {
    .mm-email-section {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1150px) {
    .mm-email-section {
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .bottom-vis {
        grid-template-columns: 50% 50%;
    }

    .dropup-header {
        font-size: 26px;
        margin-left: 20px;
        line-height: 30px;
    }

    .mm-email-section {
        font-size: 18px;
        margin-bottom: 0;
        margin-right: 50px;
    }

    .mm-inputs {
        font-size: 18px;
    }

    .mm-mail {
        width: 75px;
    }
}

@media screen and (max-width: 1000px) {
    .mm-dropup-left {
        width: 70%;
    }
}

@media screen and (max-width: 950px) {
    .mm-email-section {
        width: 250px;
    }
}

@media screen and (max-width: 850px) {
    .mm-dropup-left {
        width: 50%;
    }

    .dropup-header {
        font-size: 18px;
        line-height: 20px;
    }

    .mm-mail {
        width: 50px;
    }
}

@media screen and (max-width: 800px) {
    .dropup-header {
        display: none;
    }

    .mm-email-section {
        margin-right: 20px;
    }
    
    .mm-mail {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .bottom-vis {
        display: flex;
    }

    .mm-dropup-left {
        display: none;
    }

    .dropup-header {
        display: none;
    }

    .mm-form-top {
        margin: 0 auto;
        width: 100%;
    }

    .mm-mail {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .mm-button-dropup {
        font-size: 12px;
        margin-left: 20px;
        height: 50px;
    }

    .top-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 0;
    }
    
    .empty-div {
        display: none;
    }

    .bottom-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 0;
    }

    .mm-inputs {
        margin-top: 10px;
    }

    .form-end-container {
        margin: 0 0 25px 0;
    }
    
    .privacy-container {
        margin-left: 25px;
    }
}

@media screen and (max-width: 500px) {
    .dropup-header2 {
        font-size: 21px;
    }

    .mm-button-dropup {
    height: 35px;
    width: 250px;
    }

    .form-end-container {
        justify-content: auto;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 414px) {
    .dropup-header2 {
        font-size: 21px;
    }

    .mm-button-dropup {
        height: 35px;
        width: 250px;
    }

    .mm-inputs {
        margin-top: 10px;
    }

    .bottom-grid {
        row-gap: 0;
    }
}

@media screen and (max-width: 395px) {
    .mm-email-section {
        margin-right: 20px;
    }

    .mm-button-dropup {
        margin: 0;
    }
}