/* ? DropUP menu styling */
.mm-bottom-nav {
    cursor: default;
    box-shadow: 0px -4px 10px #999;
    border-radius: 0;
    width: 100vw !important;
    max-height: 100vh;
    /* overflow-y: scroll; */
}

.hidden-form {
    width: 100% !important;
}

.bottom-vis {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 90% !important;
    margin: 0 auto;
    justify-content: center;
}

.mm-dropup-left {
    display: flex;
    align-items: center;
}

.mm-form-top {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.mm-email-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 50px;
}

.mm-button-dropup {
    height: 45px;
    width: 100%;
    border: 1px solid #E5003C;
    border-radius: 8px;
    background-color: #E5003C;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px;
    padding-bottom: 5px;
    align-self: flex-end;
    align-self: center;
}

.navbar-hide {
    display: none;
}

.dropup-heading {
    display: flex;
    max-width: 90% !important;
    margin: 0 auto;
    justify-content: space-between;
}

.collapse-arrow {
    width: 40px;
    cursor: pointer;
}

.mm-subtext {
    font-size: 10px;
    color: #333;
}

.bottom-navigation {
    max-width: 90% !important;
    margin: 0 auto;
}

.mm-border-top {
    border-top: 5px solid #E5003C;
    box-shadow: none;
}

.dropup-header {
    font-family: Larsseit-Bold;
    width: 100%;
    font-size: 28px;
    line-height: 36.96px;
}

.dropup-header2 {
    font-family: Larsseit-Bold;
    width: 350px;
    font-size: 28px;
}

/* ! Grid Styling in dropup */
.top-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    padding-bottom: 20px;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}

input[type=text], input[type=email], input[type=number] {
    border-style: none;
    border-bottom: 1px solid #CCC;
    height: 38px;
    color: #E5003C;
    font-size: 20px;
}

.mm-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

::placeholder {
    color: #333;
}

select {
    border-style: none;
    border-bottom: 1px solid #CCC;
    height: 38px;
}

.mm-inputs2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: auto;
}

.mm-inputs2-children {
    width: 100%;
}

#mm-privacy + label {
    margin-left: 10px;
    font-size: 10px;
    line-height: 12.5px;
    width: 310px;
}

.form-end-container {
    display: grid;
    justify-content: end;
    margin-bottom: 30px;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
/* ! XL SCREENS */ 
@media screen and (min-width: 1920px) {
    .container-main {
        max-width: 80% !important;
        margin: 0 auto;
    }
    .dropup-heading {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 1300px) {
    .dropup-header {
        font-size: 21px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1050px) {
    .mm-email-section {
        font-size: 18px;
        margin-bottom: 0;
        margin-right: 50px;
    }

    .mm-inputs {
        font-size: 18px;
    }

    .mm-mail {
        width: 75px;
    }
}

@media screen and (max-width: 950px) {
    .dropup-header {
        display: none;
    }

    .bottom-vis {
        grid-template-columns: 1fr 4fr;
    }

    .empty-div {
        display: none;
    }

    .top-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0;
    }
    
    .bottom-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0;
    }
}

@media screen and (max-width: 850px) {
    .mm-dropup-left {
        width: 50%;
    }

    .dropup-header {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 800px) {
    .bottom-vis {
        width: 95% !important;
    }

    .dropup-heading {
        max-width: 95% !important;
    }

    .bottom-navigation {
        max-width: 95% !important;
    }

    .mm-email-section {
        margin-right: 20px;
    }
}

@media screen and (max-width: 750px) {
    .bottom-vis {
        display: flex;
    }

    .mm-dropup-left {
        display: none;
    }

    .dropup-header {
        display: none;
    }

    .mm-form-top {
        margin: 0 auto;
        width: 100%;
    }

    .mm-mail {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .dropup-header2 {
        font-size: 21px;
    }

    .mm-button-dropup {
        font-size: 12px;
        margin-left: 20px;
        height: 50px;
    }

    .top-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;
        padding-bottom: 25px;
    }
    
    .empty-div {
        display: none;
    }

    .bottom-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 10px;
    }

    .mm-inputs {
        margin-top: 10px;
    }

    .form-end-container {
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 500px) {
    .dropup-header2 {
        font-size: 21px;
    }

    .form-end-container {
        justify-content: auto;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 428px) {
    .dropup-header2 {
        font-size: 21px;
    }

    .mm-button-dropup {
        height: 35px;
        width: 100%;
        margin: 0;
    }

    .mm-inputs {
        margin-top: 10px;
    }

    .bottom-grid {
        row-gap: 0;
    }

    .mm-email-section {
        margin-right: 20px;
    }

    .mm-form-top {
        flex-direction: column;
    }
}

@media screen and (max-width: 280px) {
    .dropup-container {
        max-width: 95% !important;
        margin: 0 auto;
    }

    .mm-form-top {
        align-items: flex-start;
    }

    .mm-email-section label {
        margin-bottom: 0;
    }

    .dropup-heading {
        max-width: 95% !important;
    }

    .form-end-container {
        justify-content: flex-start;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .privacy-container {
        display: flex;
    }
}