/* Footer Styling */
footer {
    width: 100% !important;
    height: 600px;
    margin-top: 50px;
    padding-top: 50px;
}

.footer-headings {
    font-size: 26px;
}

.footer-ctas {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
    max-width: 80% !important;
    margin: 0 auto;
    margin-bottom: 40px !important;
}

.left-content {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.right-content {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.right-side-left {
    display: flex;
    flex-direction: column;
}

.right-side-right {
    align-self: center;
    margin-left: 50px;
}

.footer-btn {
    border: 1px solid #E5003C;
    background-color: #fff;
    border-radius: 8px;
    height: 40px;
    margin-top: 40px;
    padding: 8px !important;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E5003C;
    margin-top: auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-btn:hover {
    background-color: #E5003C;
    color: #FFFFFF;
    transition: 0.3s;
}

.footer-img {
    width: 235px;
}

.footer-fineprint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80% !important;
    margin: 0 auto;
}

.footer-group {
    display: flex;
    align-items: center;
}

.mm-logo {
    width: 100px;
}

.fine-print {
    font-size: 14px;
    max-width: 60%;
    line-height: 18px;
    margin-top: 15px;
}

.socials-list {
    list-style: none;
    display: flex;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
/* ! XL SCREENS */ 
@media screen and (min-width: 1900px) {

    .left-content {
        justify-self: center;
    }
    
    .right-content {
        justify-self: center;
    }
}

@media screen and (max-width: 1300px) {
    footer {
        height: 550px;
    }

    .footer-ctas {
        max-width: 90% !important;
    }

    .footer-fineprint {
        max-width: 90% !important;
    }
}

@media screen and (max-width: 1180px) {
    footer {
        height: 525px;
    }
}

@media screen and (max-width: 1150px) {
    .footer-img {
        width: 225px;
    }
}

@media screen and (max-width: 1124px) {
    .footer-img {
        width: 200px;
    }
}

@media screen and (max-width: 1070px) {
    .footer-img {
        width: 170px;
    }
}

@media screen and (max-width: 1010px) {
    .right-side-right {
        margin-left: 25px;
    }
}

@media screen and (max-width: 955px) {
    .footer-headings {
        font-size: 21px;
        line-height: auto;
    }

    .fine-print {
        width: 500px;
    }
}

@media screen and (max-width: 850px) {
    footer {
        height: 850px;
        padding: 0;
    }
    
    .footer-ctas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 50px;
    }
    
    .footer-headings {
        font-size: 28px;
    }

    .footer-img {
        width: 100%;
    }

    .left-content {
        width: 100%;
        align-self: center;
    }
    
    .right-content {
        width: 100%;
        justify-content: space-between;
        justify-self: auto;
    }

    .right-side-left {
        max-width: 50%
    }
    
    .right-side-right {
        max-width: 50%;
        align-self: end;
    }

    .fine-print {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .right-side-left {
        margin-right: 0;
    }

    .footer-ctas {
        max-width: 95% !important;
    }

    .footer-fineprint {
        max-width: 95% !important;
    }

    .fine-print {
        width: 300px;
    }
}

@media screen and (max-width: 720px) {
    footer {
        height: 775px;
    }

    .footer-headings {
        font-size: 21px;
        line-height: 25px;
    }
    
    .footer-btn {
        margin-top: 25px;
    }
    
    .right-content {
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .footer-fineprint {
        flex-direction: column-reverse;
    }

    .footer-group {
        width: 100%;
        justify-content: center;
    }

    .fine-print {
        width: 100%;
    }

    .socials-list {
        padding: 0;
    }

    .socials img {
        height: 35px;
    }
    
    .li-right {
        margin-right: 50px;
    }
    
    .ig-left {
        margin-left: 50px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        height: 675px;
    }
    
    .footer-group {
        margin: 0 auto;
    }

    .footer-btn {
        font-size: 12px;
    }
    
    .fine-print {
        font-size: 10px;
        width: 75%;
    }

    .right-content {
        margin: 0;
        margin-top: 25px;
    }
}

@media screen and (max-width: 428px) {
    footer {
        height: 950px;
        padding-top: 25px;
        /* padding-bottom: 200px; */
    }
    
    .footer-group {
        max-width: 100% !important;
    }
    
    .footer-ctas {
        display: block;
    }

    .footer-btn {
        width: 100%;
    }

    .footer-img {
        width: 100%;
        margin-bottom: 25px;
    }

    .left-content {
        margin-top: 20px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .right-content {
        flex-direction: column-reverse;
        justify-self: center;
        margin-top: 25px;
        width: 100%;
    }

    .right-side-left {
        margin: 0 auto;
        min-width: 100%;
    }
    
    .right-side-right {
        margin: 0 auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 412px) {
    footer {
        height: 900px;
    }

    .container-lg {
        width: 95% !important;
    }
}

@media screen and (max-width: 280px) {
    footer {
        height: 850px;
    }

    .footer-ctas {
        margin-bottom: 10px;
    }

    .footer-btn {
        font-size: 8px;
        margin-top: 10px;
    }

    .footer-headings {
        font-size: 18px;
    }

    .footer-img {
        width: 250px;
    }

    .footer-fineprint {
        margin-top: 25px;
    }
}