/* Hero Styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vh !important;
    padding: 25px;
    }
    
    .main-header-container {
    min-width: 90% !important;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px;
    }
    
    .main-header-text {
    font-family: 'MenoBannerCondensedRegular';
    font-size: 75px;
    line-height: 85.8px;
    text-align: center;
    }
    
    .main-header-body {
    font-size: 24px;
    line-height: 36.96px;
    text-align: center;
    margin: 0 auto;
    margin-top: 18px;
    width: 90%;
    }
    
    .mm-underline {
    background-image: url("https://maison-moderne-pardot.s3.eu-central-1.amazonaws.com/paperjam_delano-ecosystem/assets/underline-thik.svg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-position: 0% 95%;
    }
    /* End Hero Styling */
    
    /* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
    /* ! XL SCREENS */ 
    @media screen and (min-width: 1900px) {
        .hero {
            height: 60vh;
        }
        
        .main-header-text {
            font-size: 100px;
            line-height: 100px;
        }
        
        .main-header-body {
            font-size: 32px;
            margin-top: 40px;
        }
    }
    
    @media screen and (max-width: 1300px) {
        .main-header-container {
            max-width: 90% !important;
            }
    }
    
    @media screen and (max-width: 1024px) {
        .main-header-text {
            font-size: 65px;
            line-height: auto;
        }
    }
    
    @media screen and (max-width: 915px) {
        .hero {
            min-height: 20vh !important;
            }

        .main-header-body {
            width: 90%;
        }
    }

    @media screen and (max-width: 800px) {
        .main-header-container {
            max-width: 95% !important;
        }
    
        .main-header-body {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .main-header-text {
            font-size: 54px;
            line-height: 60px;
        }    
    }
    
    @media screen and (max-width: 500px) {
        .main-header-text {
            font-size: 48px;
            line-height: 60px;
        }    

        .main-header-body {
            font-size: 18px;
            line-height: 30px;
        }
    }
    
    @media screen and (max-width: 428px) {
        .main-header-text {
            font-size: 32px;
            line-height: 45px;
        }
        
        .main-header-body {
            font-size: 16px;
            line-height: 25px;
            padding: 0;
        }

        .hero {
            min-height: 20vh !important;
            padding: 10px;
        }
    }
    
    @media screen and (max-width: 395px) {
        .hero {
            height: 40vh !important;
        }
    
        .main-header-text {
            margin-top: 20px;
            line-height: 35px;
        }
    }

    @media screen and (max-width: 360px) {
        .main-header-body {
            line-height: 20px;
            margin-top: 20px;
        }
    }
    
    @media screen and (max-width: 280px) {
        .hero {
            min-height: 45vh !important;
            padding: 5px;
        }

        .main-header-container {
            padding: 5px;
        }
    
        .main-header-body {
            min-width: 100%;
            margin: 0 auto;
            margin-top: 20px;
            line-height: 23px;
        }
    }