/* FONTS */
@font-face {
  font-family: MenoBannerCondensedRegular;
  src: url("../assets/fonts/Meno%20Banner%20Condensed%20Regular.otf");
}
@font-face {
  font-family: MenoBannerCondensedItalic;
  src: url("../assets/fonts/Meno%20Banner%20Condensed%20Italic.otf");
}
@font-face {
  font-family: MenoBannerRegular;
  src: url("../assets/fonts/Meno%20Banner%20Regular.otf");
}
@font-face {
  font-family: MenoBannerItalic;
  src: url("../assets/fonts/Meno%20Banner%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Bold-italic;
  src: url("../assets/fonts/Larsseit%20Bold%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Bold;
  src: url("../assets/fonts/Larsseit%20Bold.otf");
}
@font-face {
  font-family: Larsseit-ExtraBold-italic;
  src: url("../assets/fonts/Larsseit%20ExtraBold%20Italic.otf");
}
@font-face {
  font-family: Larsseit-ExtraBold;
  src: url("../assets/fonts/Larsseit%20ExtraBold.otf");
}
@font-face {
  font-family: Larsseit-Light-italic;
  src: url("../assets/fonts/Larsseit%20Light%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Light;
  src: url("../assets/fonts/Larsseit%20Light.otf");
}
@font-face {
  font-family: Larsseit-Medium-italic;
  src: url("../assets/fonts/Larsseit%20Medium%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Medium;
  src: url("../assets/fonts/Larsseit%20Medium.otf");
}
@font-face {
  font-family: Larsseit-Regular-italic;
  src: url("../assets/fonts/Larsseit%20Regular%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Regular;
  src: url("../assets/fonts/Larsseit%20Regular.otf");
}
@font-face {
  font-family: Larsseit-Thin-italic;
  src: url("../assets/fonts/Larsseit%20Thin%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Thin;
  src: url("../assets/fonts/Larsseit%20Thin.otf");
}

/* MAIN SETTINGS */
. {
  width: 90%;
  margin: 0 auto;
}

. {
  width: 80%;
  margin: 0 auto;
}

.container-m {
  width: 70%;
  margin: 0 auto;
}

.container-s {
  width: 60%;
  margin: 0 auto;
}

.container-xs {
  width: 50%;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid #F1F1F1;
}

.text-dark {color: #333333 !important;}

.text-white {color: #FFFFFF !important;}

.text-red {color: #E5003C !important;}

.text-grey {color: #7C7C7C !important;}

.text-lt-grey {color: #CCCCCC !important;}

.bg-dark {background-color: #333333 !important;}

.bg-white {background-color: #FFFFFF !important;}

.bg-red {background-color: #E5003C !important;}

.bg-grey {background-color: #7C7C7C !important;}

.bg-light-grey {background-color: #F1F1F1 !important;}

/* CUSTOM LAYOUT */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Larsseit-Regular';
  color: #333;
}

.mm-button {
  height: 38px;
  width: 350px;
  border: 1px solid #E5003C;
  border-radius: 8px;
  background-color: #E5003C;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17.5px;
  letter-spacing: 2px;
  padding: 8px;
}

.italicized {
  font-family: 'Larsseit-Bold-italic';
}

.italicized-lt {
  font-family: 'Larsseit-italic';
}

.container-main {
  max-width: 80% !important;
  margin: 0 auto;
}

/* Changing the focus color on inputs */
input[type=text]:focus { 
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E5003C;
}

input[type=email]:focus { 
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E5003C;
}

input[type=number]:focus { 
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E5003C;
}

select:focus{
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E5003C;
}

button:focus {
  outline: none !important;
}

/* Cards-section styling */
.header-container {
  margin: auto;
}

.header-text {
  font-family: 'Larsseit-Bold';
  font-size: 26px;
}

.header-body {
  font-size: 26px;
  line-height: 32.5px;
}

/* ! CHECKBOX STYLING */
/* hide original checkbox */
.sub-checkbox{
  opacity: 0;
}

.checkbox-txt {
  width: 100px;
}

/* style new checkbox */
.sub-checkbox + label{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  font-size: 18px;
}

/* change text color on check */
.sub-checkbox:checked + label{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* using bg image */
/* style & position checkbox */
.sub-checkbox + label::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 50%;
  background-image: url(../assets/mm-plus.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* change checkbox on checked */
.sub-checkbox:checked + label::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #E5003C;
  border-radius: 50%;
  background-image: url(../assets/mm-dash.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
/* End checkbox styling */

.card-title {
  font-family: MenoBannerCondensedRegular;
  font-size: 32px;
}

.card-body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
/* End cards styling */

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
/* ! XL SCREENS */ 

@media screen and (max-width: 1300px) {
  .mm-button {
    width: 250px;
  }
}

@media screen and (max-width: 950px) {
  .header-text {
    font-size: 28px;
  }
  
  .italicized {
    font-family: 'Larsseit-Bold-italic';
    font-size: 28px;
  }
  
  .header-body {
    font-size: 21px;
    line-height: 32.5px;
  }

  .mm-button {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .mm-button {
    width: 250px;
  }
}

@media screen and (max-width: 720px) {
  .header-text {
    font-size: 21px;
  }
  
  .italicized {
    font-size: 21px;
  }
  
  .header-body {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {
  input[type=text], input[type=email], input[type=number] {
    height: 38px;
    font-size: 16px;
  }

  select {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .header-text {
    font-size: 18px;
    margin: 0;
  }
  
  .italicized {
    font-size: 18px;
  }
  
  .header-body {
    font-size: 16px;
  }
}

@media screen and (max-width: 414px) {
  input[type=text], input[type=email], input[type=number] {
    height: 38px;
    font-size: 16px;
  }

  select {
    font-size: 16px;
  }
}

@media screen and (max-width: 280px) {
  .card-title {
    margin-bottom: 0;
  }
}