/* FONTS */
@font-face {
  font-family: MenoBannerCondensedRegular;
  src: url("../assets/fonts/Meno%20Banner%20Condensed%20Regular.otf");
}
@font-face {
  font-family: MenoBannerCondensedItalic;
  src: url("../assets/fonts/Meno%20Banner%20Condensed%20Italic.otf");
}
@font-face {
  font-family: MenoBannerRegular;
  src: url("../assets/fonts/Meno%20Banner%20Regular.otf");
}
@font-face {
  font-family: MenoBannerItalic;
  src: url("../assets/fonts/Meno%20Banner%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Bold-italic;
  src: url("../assets/fonts/Larsseit%20Bold%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Bold;
  src: url("../assets/fonts/Larsseit%20Bold.otf");
}
@font-face {
  font-family: Larsseit-ExtraBold-italic;
  src: url("../assets/fonts/Larsseit%20ExtraBold%20Italic.otf");
}
@font-face {
  font-family: Larsseit-ExtraBold;
  src: url("../assets/fonts/Larsseit%20ExtraBold.otf");
}
@font-face {
  font-family: Larsseit-Light-italic;
  src: url("../assets/fonts/Larsseit%20Light%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Light;
  src: url("../assets/fonts/Larsseit%20Light.otf");
}
@font-face {
  font-family: Larsseit-Medium-italic;
  src: url("../assets/fonts/Larsseit%20Medium%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Medium;
  src: url("../assets/fonts/Larsseit%20Medium.otf");
}
@font-face {
  font-family: Larsseit-Regular-italic;
  src: url("../assets/fonts/Larsseit%20Regular%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Regular;
  src: url("../assets/fonts/Larsseit%20Regular.otf");
}
@font-face {
  font-family: Larsseit-Thin-italic;
  src: url("../assets/fonts/Larsseit%20Thin%20Italic.otf");
}
@font-face {
  font-family: Larsseit-Thin;
  src: url("../assets/fonts/Larsseit%20Thin.otf");
}

/* MAIN SETTINGS */
.container-xlg {
  width: 90%;
  margin: 0 auto;
}

.container-lg {
  width: 80%;
  margin: 0 auto;
}

.container-m {
  width: 70%;
  margin: 0 auto;
}

.container-s {
  width: 60%;
  margin: 0 auto;
}

.container-xs {
  width: 50%;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid #F1F1F1;
}

.text-dark {color: #333333 !important;}

.text-white {color: #FFFFFF !important;}

.text-red {color: #E50046 !important;}

.text-grey {color: #7C7C7C !important;}

.text-lt-grey {color: #CCCCCC !important;}

.bg-dark {background-color: #333333 !important;}

.bg-white {background-color: #FFFFFF !important;}

.bg-red {background-color: #E50046 !important;}

.bg-grey {background-color: #7C7C7C !important;}

.bg-light-grey {background-color: #F1F1F1 !important;}

/* CUSTOM LAYOUT */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Larsseit-Regular';
  color: #333;
}

.navbar {
  color: #333333 !important;
  cursor: default !important;
}

/* Reducing width to eliminate overflow on mbpro */
.dropdown-menu {
  min-width:100px !important;
}

.mm-button {
  height: 38px;
  width: 350px;
  border: 1px solid #E50046;
  border-radius: 8px;
  background-color: #E50046;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17.5px;
  letter-spacing: 2px;
  padding: 8px;
}

.italicized {
  font-family: 'Larsseit-Bold-italic';
}

.italicized-lt {
  font-family: 'Larsseit-italic';
}

/* Changing the focus color on inputs */
input[type=text]:focus { 
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E50046;
}

input[type=email]:focus { 
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E50046;
}

input[type=number]:focus { 
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E50046;
}

select:focus{
  border: none !important;
  border-radius: 8px;
  outline: 2px solid #E50046;
}

button:focus {
  outline: none !important;
}

/* DropUP menu styling */
.navbar-hide {
  display: none;
}

.mm-bottom-nav {
  cursor: default;
  box-shadow: 0px -4px 10px #999;
  border-radius: 0;
}

.collapse-arrow {
  width: 30px;
  cursor: pointer;
}

.dropup-heading {
  display: flex;
  justify-content: space-between;
}

.mm-subtext {
  font-size: 10px;
  color: #333;
}

.mm-border-top {
  border-top: 5px solid #e50046;
  box-shadow: none;
}

.bottom-vis {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.mm-dropup-left {
  display: flex;
  align-items: center;
}

.dropup-header {
  font-family: Larsseit-Bold;
  width: 320px;
  font-size: 28px;
  line-height: 36.96px;
}

.dropup-header2 {
  font-family: Larsseit-Bold;
  width: 350px;
  font-size: 28px;
}

/* Hidden on desktop */
.mobile-header {
  font-family: Larsseit-Bold;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* end hidden */

.mm-form-top {
  display: flex;
  align-items: center;
}

.mm-email-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
}

.mm-button-dropup {
  align-self: flex-end;
  align-self: center;
}

/* ! Grid Styling in dropup */
.top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* border-bottom: 1px solid #333; */
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}

.dropup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.dropup-rows {
  display: flex;
  justify-content: space-between;
}

input[type=text], input[type=email], input[type=number] {
  border-style: none;
  border-bottom: 1px solid #CCC;
  height: 38px;
  color: #E50046;
  font-size: 20px;
}

.mm-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.mm-inputs2-parent {
  display: flex;
  align-self: end;
}

.mm-inputs2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mm-inputs2 input {
  width: 45%;
}

.mm-inputs2 select {
  width: 45%;
}

::placeholder {
  color: #CCC;
}

select {
  border-style: none;
  border-bottom: 1px solid #CCC;
  height: 38px;
  color: #E50046;
}

#mm-privacy + label {
  margin-left: 10px;
  font-size: 10px;
  line-height: 12.5px;
  width: 310px;
}

.form-end-container {
  display: grid;
  justify-content: end;
  margin-bottom: 40px;
}

/* Hero Styling */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh
}

.main-header-container {
  max-width: 1000px;
  flex-direction: column;
}

.main-header-text {
  font-family: 'MenoBannerCondensedRegular';
  font-size: 75px;
  line-height: 85.8px;
  text-align: center;
}

.main-header-body {
  font-size: 24px;
  line-height: 36.96px;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  width: 75%;
}

.apostrophe {
/* font-family: Arial, Helvetica, sans-serif; */
font-family:'Arial Narrow', Arial, sans-serif;
}

.mm-underline {
  background-image: url("../assets/underline-thik.svg");
  background-repeat: no-repeat, repeat;
  background-position: 0% 90%;
}
/* End Hero Styling */

/* Sub-nav Styling (tabs) */
.subnav-main {
  border-bottom: 1px solid #333;
}

.subnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 28px;
}

.subnav li {
  text-align: center;
  width: 120px;
}

.subnav a {
  text-decoration: none;
}

.subnav a:hover {
  color: #E50046 !important;
  transition: .3s;
}

.print-tab {
  background-image: url("../assets/rounded.svg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: contain;
}
/* End Sub-nav styling */

/* Cards-section styling */
.header-container {
  margin: auto;
}

.header-text {
  font-family: 'Larsseit-Bold';
  font-size: 26px;
}

.header-body {
  font-size: 26px;
  line-height: 32.5px;
}

/* CARDS */
.grid-container {
  margin: 40px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  width: 80vw;
}

.mag-card-template {
height: 276px;
width: 276px;
padding: 20px;
outline: 2px solid #333;
display: flex;
flex-direction: column;
}

.mag-card-row1 {
  display: flex;
}

/* thumbnail img styling */
.img-wrapper {
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card-img-top {
  height: 150px;
  width: auto;
}
/* end img styling */

/* ! CHECKBOX STYLING */
/* hide original checkbox */
.sub-checkbox{
  opacity: 0;
}

.added {
  outline: 2px solid #E50046;
}

.checkbox-txt {
  width: 100px;
}

/* style new checkbox */
.sub-checkbox + label{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  font-size: 18px;
}

/* change text color on check */
.sub-checkbox:checked + label{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

/* using bg image */
/* style & position checkbox */
.sub-checkbox + label::before{
  content: "";
  position: absolute;
  right: 0px;
  top: -30px;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 50%;
  background-image: url(../assets/mm-plus.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}

/* change checkbox on checked */
.sub-checkbox:checked + label::before{
  content: "";
  position: absolute;
  right: 0px;
  top: -30px;
  width: 40px;
  height: 40px;
  border: 2px solid #E50046;
  border-radius: 50%;
  background-image: url(../assets/mm-dash.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
}
/* End checkbox styling */

.card-title {
  font-family: MenoBannerCondensedRegular;
  font-size: 32px;
}

.card-body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
/* End cards styling */

/* Footer Styling */
footer {
  width: 100%;
  height: 63vh;
  margin-top: 75px;
  padding-top: 50px;
}

.footer-ctas {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-bottom: 50px;
}

.left-content {
  width: 340px;
}

.right-side-left {
  width: 240px;
  justify-self: end;
}

.right-side-right {
  justify-self: end;
}

.footer-headings {
  font-size: 24px;
  line-height: 36px;
}

.footer-btn {
  outline: 1px solid #E50046;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 50px;
  padding: 8px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E50046;
}

.footer-btn:hover {
  background-color: #E50046;
  color: #FFFFFF;
  transition: 0.3s;
}

.footer-img {
  width: 235px;
}

.footer-fineprint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-group {
  display: flex;
  align-items: center;
}

.mm-logo {
  width: 100px;
}

.fine-print {
  font-size: 14px;
  max-width: 60%;
  line-height: 18px;
  margin-top: 15px;
}

.socials-list {
  list-style: none;
  display: flex;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
/* ! XL SCREENS */ 
/* Not needed for main */

@media screen and (min-width: 751px) {
  .mobile-header {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .short-txt {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .long-txt {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .mm-button {
    width: 250px;
  }
}

@media screen and (max-width: 1150px) {
  .mm-email-section {
    width: 275px;
  }
}

@media screen and (max-width: 1124px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 0;
  }
}

@media screen and (max-width: 1050px) {
  .right-side-right {
    display: none;
  }

  .mm-mail {
    width: 75px;
  }

  .dropup-header {
    font-size: 28px;
    margin-left: 20px;
    line-height: 30px;
  }

  .mm-email-section {
    font-size: 18px;
    margin-bottom: 0;
  }

  .mm-inputs {
    font-size: 18px;
  }
}

@media screen and (max-width: 950px) {
  .subnav {
    margin-top: 25px;
    font-size: 21px;
    line-height: 35px;
  }

  .subnav li {
    line-height: 60px;
    width: 200px;
  }

  .active-tab {
    background-size: 175px;
  }

  .header-text {
    font-size: 28px;
  }
  
  .italicized {
    font-family: 'Larsseit-Bold-italic';
    font-size: 28px;
  }
  
  .header-body {
    font-size: 21px;
    line-height: 32.5px;
  }

  .mm-email-section {
    width: 250px;
  }

  .mm-button {
    width: 200px;
  }

  .fine-print {
    width: 500px;
  }
}

@media screen and (max-width: 850px) {
  .hero {
    max-height: 50vh
  }

  .main-header-text {
    font-size: 54px;
    line-height: 80px;
  }

  .main-header-body {
    font-size: 24px;
    line-height: 34px;
  }

  .subnav li {
    line-height: 60px;
    width: 175px;
  }

  .mm-mail {
    width: 50px;
  }

  .dropup-header {
    font-size: 18px;
    line-height: 20px;
  }

  .fine-print {
    width: 400px;
  }

}

@media screen and (max-width: 800px) {
  .active-tab {
    background-size: 150px;
  }

  .subnav li {
    line-height: 60px;
    width: 150px;
  }

  .grid-container {
    column-gap: 20px;
  }

  .right-side-left {
    margin-right: 0;
  }
}

@media screen and (max-width: 750px) {
  .mm-dropup-left {
    display: none;
  }

  .mm-form-top {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .mm-email-section {
    width: 250px;
  }

  .mm-button {
    width: 250px;
  }

  .fine-print {
    width: 300px;
  }

  footer {
    height: 575px;
  }
}

@media screen and (max-width: 700px) {
  .main-header-text {
    font-size: 48px;
    line-height: 60px;
  }

  .main-header-body {
    font-size: 21px;
    line-height: 30px;
    padding: 0 20px;
  }

  .active-tab {
    background-size: 125px;
  }

  .subnav {
    font-family: 'Larsseit-Bold';
    justify-content: space-between;
    font-size: 18px;
  }

  .header-text {
    font-size: 21px;
  }
  
  .italicized {
    font-size: 21px;
  }
  
  .header-body {
    font-size: 18px;
  }

  .grid-container {
    column-gap: 0;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .footer-headings {
    font-size: 21px;
    line-height: 25px;
  }

  .footer-btn {
    margin-top: 25px;
  }

  .footer-ctas {
    flex-direction: column-reverse;
  }

  .left-content {
    margin-top: 50px;
  }

  .right-content {
    justify-content: space-between;
    align-items: center;
  }

  .right-side-right {
    display: inline-block;
  }

  .fine-print {
    width: 300px;
  }

  footer {
    height: 725px;
  }
}

@media screen and (max-width: 650px) {
  .footer-fineprint {
    flex-direction: column-reverse;
  }
  
  .socials-list {
    padding: 0;
  }

  .socials img {
    height: 35px;
  }

  .fine-print {
    width: 400px;
  }

  .li-right {
    margin-right: 50px;
  }

  .ig-left {
    margin-left: 50px;
  }

  footer {
    height: 800px;
  }
}

@media screen and (max-width: 600px) {
  .subnav li {
    line-height: 60px;
    width: 125px;
  }

  .active-tab {
    background-size: 100px;
  }
}

@media screen and (max-width: 550px) {
  .footer-img {
    width: 200px;
  }
}


@media screen and (max-width: 500px) {
  .hero {
    max-height: 45vh
  }

  .main-header-text {
    font-size: 42px;
    line-height: 50px;
  }

  .main-header-body {
    font-size: 18px;
    line-height: 30px;
  }

  .subnav li {
    line-height: 60px;
    width: 100px;
  }

  .header-text {
    font-size: 18px;
  }
  
  .italicized {
    font-size: 18px;
  }
  
  .header-body {
    font-size: 16px;
  }

  .mobile-header {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .footer-img {
    width: 150px;
  }

  .fine-print {
    width: 300px;
  }
}