/* Sub-nav Styling (tabs) */
.subnav-main {
    border-bottom: 1px solid #333;
    margin-bottom: 50px;
}

.subnav-tab {
    position: relative;
}

.subnav-focus {
    position: absolute;
}

.subnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 28px;
}

.subnav a {
    text-decoration: none;
}

.subnav a:hover {
    color: #E5003C !important;
    transition: .3s;
}
/* End Sub-nav styling */

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
@media screen and (max-width: 950px) {
    .subnav {
        margin-top: 25px;
        font-size: 21px;
    }
}

@media screen and (max-width: 915px) {
    .subnav-main {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 740px) {
    .subnav-main {
        margin-top: 150px;
    }
    
    .subnav {
        font-size: 18px;
    }
}

@media screen and (max-width: 412px) {
    .subnav-main {
        margin-top: 125px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 280px) {
    .subnav-main {
        margin-top: 200px;
    }
}