/* CARDS */
.mag-grid-container {
    margin: 40px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    width: 80vw;
}

.mag-card-template {
    height: 276px;
    width: 276px;
    padding: 20px;
    outline: 2px solid #333;
    display: flex;
    flex-direction: column;
}

.mag-card-row1 {
    display: flex;
}

.added {
outline: 2px solid #E5003C;
}

/* thumbnail img styling */
.mag-img-wrapper {
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.mag-card-img-top {
    height: 150px;
    width: auto;
}
/* end img styling */

/* using bg image */
/* style & position checkbox */
.sub-checkbox + label::before{
    right: 0px;
    top: -30px;
}

/* change checkbox on checked */
.sub-checkbox:checked + label::before{
    right: 0px;
    top: -30px;
}

/* ********** ////////// MEDIA QUERIES \\\\\\\\\\ ********** */
/* ! XL SCREENS */ 

@media screen and (max-width: 1500px) {
    .mag-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
}

@media screen and (max-width: 1124px) {
    .mag-grid-container {
        grid-template-columns: 1fr 1fr;
        place-items: center;
        column-gap: 0;
        margin: 0 auto;
        padding: 50px;
    }
}

@media screen and (max-width: 950px) {
    .mag-grid-container {
        margin: 0 auto;
        padding: 50px 0;
        column-gap: 20px;
    }
}

@media screen and (max-width: 800px) {
    .mag-grid-container {
        column-gap: 20px;
    }
}

@media screen and (max-width: 750px) {
    .mag-grid-container {
        column-gap: 0;
        row-gap: 20px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .grid-container {
        padding: 20px 0;
    }
}